* {
    border: solid;
    color: red;
  
    @media (min-width: 1200px) {
      border: double;
      color: green;
    }
    
    @media (min-width: 768px) and (max-width: 1199px) {
      border: dashed;
      color: blue;
    }
    
    @media (max-width: 767px) {
      border: dotted;
      color: purple;
    }
  }
  